<ion-header>
  <ion-toolbar>
    <ion-title>
      Prism Calculator
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Base</ion-label>
    <ion-input type="number" [(ngModel)]="viewModel.base"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Height</ion-label>
    <ion-input type="number" [(ngModel)]="viewModel.height"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Length</ion-label>
    <ion-input type="number" [(ngModel)]="viewModel.length"></ion-input>
  </ion-item>
  <ion-button expand="full" (click)="calculate()">Calculate</ion-button>

  <ion-item *ngIf="viewModel.volume || viewModel.area">
    <ion-label>Volume: {{ viewModel.volume }}</ion-label>
    <ion-label>Area: {{ viewModel.area }}</ion-label>
  </ion-item>
</ion-content>
